@{
    ViewBag.Title = "Search";
}
<h2>
    Search</h2>
<fieldset>
    <legend>ContactModel</legend>
    <div class="editor-label">
        <label id="Search">Search</label>
    </div>
    <div class="editor-field">
        <input id="searchInput" type="text"/>
    </div>
</fieldset>
